<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Chef Detail <br>{{chef.chef_name}} <br><br><br>

    {% for alloc in allocations %}
        {{alloc.id }} <br>
        {{alloc.orderitem_name}} <br>
        {{alloc.orderitem_category}} <br>
        {{alloc.quantity}} <br>
        {{alloc.chef}} <br> 
         <a href="{% url 'RestApp:change-alloc-status' alloc.id  chef.id%}">
            {{alloc.status}}
         </a>
             <br><br><br>
    {% endfor %} 
</body>
</html>