{% extends 'base.html' %}

{% block title %}Change Password | {{request.user.username}} {% endblock %}
{% load static %}}

{% block breadcrumb %} Change Password{% endblock %}



{% block content %}

{% if messages %}
    {% for i in messages%}
    <div class="alert alert-warning alert-dismissible show fade">
        <div class="alert-body">
        <button class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        {{i}}
        </div>
    </div>
    {% endfor %}
{% endif %}

<div class="card">
    <div class="card-header">
    <h4>Change Password </h4>
</div>
      
<div class="card-body">       
    <div class="container">
        <form method = "POST" class = "needs-validation" novalidate="">
            {% csrf_token %}            
            <div class="row">
            <div class="col-2"></div>
                <div class="col-8">
                    <div class="form-group col-12">
                        <label for="frist_name">New Password</label>
                        <input id="frist_name" type="password" class="form-control" name="password" autofocus required>
                    </div>
                    <div class="form-group col-12">
                        <label for="last_name">Confirm Password</label>
                        <input id="" type="password" class="form-control" name="confirm_password" required>
                    </div>

                    <div class="footer">
                        <button class="btn btn-success">Submit</button>
                    </div>


                </div>
            <div class="col-2"></div>
            </div>

                       




         

        </form>
    </div> 
</div>    


            

</section>
</div>



{% endblock %}