{% load static %}
<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
      <div class="sidebar-brand">
        <a href="index-2.html"> <img alt="image" src="{% static "assets/img/vistanlogo.png" %}" class="header-logo" /> <span
            class="logo-name">Vistan</span>
        </a>
      </div>
      <br><br>
      <ul class="sidebar-menu">
       
           
        <li class="menu-header">{{request.user.username}}</li>
        <li>
            <a href="" ><i
                data-feather="airplay"></i><span>Dashboard</span></a>
          </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i
              data-feather="airplay"></i><span>Chefs</span></a>
          <ul class="dropdown-menu">
            {% for chef in chefs%}
                <li><a class="nav-link" href="widget-chart.html">{{chef}}</a></li>            
            {% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="box"></i><span>Categories</span></a>
          <ul class="dropdown-menu">
            {% for cat in cats%}
                <li><a class="nav-link" href="widget-chart.html">{{cat}}</a></li>            
            {% endfor %}
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Settings</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="">Edit Profile</a></li>
            <li><a class="nav-link" href="">Change Password</a></li>
            <li><a class="nav-link" href="">Logout</a></li>
          </ul>
        </li>

    
      
      </ul>
    </aside>
  </div>